

.titulos{
text-align: center;
background-color: red;
}
#boasvindas{
    text-align: center;
}

.indice{
    text-align: center;
    
}
p{
    text-align: center;
    
}
#meio{
    height: 50vh;
}
div > .redes-sociais{
background-color:red

}
h2{
    text-align: center;
}
#facebook{
    width: 10%;
}

#instagram{
    width: 10%;
}

#twitter{
    width:10%;
}


.img-estoque{
    width: 200px;
}
#form1{ text-align: center;
     
}


